# Ignore all files
*

# Except these files
!.gitignore
!download_ict.bash
!poetry.lock
!README.md
!poetry.toml
!download_usitc_annual_reports.bash
!DATABASE_README.md
!pyproject.toml
!setup.R
!get_data.py